{{ partial "header.html" . }}

{{ if isset .Params "show_highlights" }}
    <div class="wrapper style3">
        <div class="title">Highlights</div>

        <div id="highlights" class="container">
            {{ partial "home/highlights.html" . }}
        </div>
    </div>
{{ end }}

<div class="wrapper style2">
    {{ with .Title }}
        <div class="title">{{ . }}</div>
    {{ end }}

    {{ with .Content }}
        <div id="main" class="container">{{ . }}</div>
    {{ end }}
</div>

{{ partial "footer.html" . }}
