            <div id="footer-wrapper" class="wrapper">
                <div class="title">Links and References</div>
                <div id="footer" class="container">
                    <header class="style1">
                        <h2>Ipsum sapien elementum portitor?</h2>
                        <p>
                            Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis nunc in aliquet.<br />
                            Nam pharetra laoreet imperdiet volutpat etiam consequat feugiat.
                        </p>
                    </header>
                    <hr />
                    <div class="row 150%">
                        <div class="6u 12u(mobile)">
                            {{ partial "demo/contact_form.html" . }}
                        </div>
                        <div class="6u 12u(mobile)">
                            {{ partial "demo/contact.html" . }}
                        </div>
                    </div>
                    <hr />
                </div>
                <div id="copyright">
                    <ul>
                        <li>&copy; <a href="https://hal.computer">Hal Platform</a></li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <script src="/js/bundle.js"></script>
    </body>
</html>
