.feature-list {
    section {
        margin-bottom: 1em;
    }

    h3 {
        color: _palette(highlight) !important;
        position: relative;
        padding-left: 3em;

        .fa-2x {
            position: absolute;
            left: 0;
            top: -.15em;
        }
    }

    p {
        margin: 0 0 0 3.75em;
    }
}

@include breakpoint(tablet) {
    .feature-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 1em;

        section {
            width: 48%;
            padding-top: 2em;
        }

        h3 {
            margin: 0 0 0.75em 0;
            font-size: 1.15em;
            letter-spacing: 0.05em;
        }
    }
}

@include breakpoint(desktop) {
    .feature-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 5em;

        section {
            width: 48%;
            padding-top: 2em;
        }

        h3 {
            margin: 0 0 0.75em 0;
            font-size: 1.15em;
            letter-spacing: 0.05em;
        }
    }
}
