#highlights {
    .highlight-list {
        text-align: center;
        max-width: 80%;
        margin: auto;

        h3 {
            color: _palette(highlight);
        }


    }
}

@include breakpoint(mobile) {
    .button {
        max-width: 60%;
    }
}

@include breakpoint(tablet) {
    .highlight-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 1em;

        section {
            width: 48%;
            padding-top: 2em;
        }
    }
}

@include breakpoint(desktop) {
    .highlight-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 1em;

        section {
            width: 30%;
            padding-top: 2em;
        }
    }
}
