#navPanel, #titleBar {
    display: none;
}

@include breakpoint(mobile) {

    #page-wrapper {
        @include vendor('backface-visibility', 'hidden');
        @include vendor('transition', 'transform #{_duration(navPanel)} ease');
        padding-bottom: 1px;
    }

    #titleBar {
        @include vendor('backface-visibility', 'hidden');
        @include vendor('transition', 'transform #{_duration(navPanel)} ease');
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: _misc(z-index-base) + 1;
        background: none;

        .title {
            display: none;
        }

        .toggle {
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 44px;

            &:before {
                @include vendor('transition', 'all .15s ease-in-out');
                font-family: FontAwesome;
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\f0c9';
                font-size: 14px;
                position: absolute;
                top: 6px;
                left: 6px;
                display: block;
                width: 54px;
                height: 38px;
                line-height: 38px;
                text-align: center;
                color: rgba(255, 255, 255, 0.75);
                background-color: rgba(92, 95, 103, 0.5);
                border-radius: 0.25em;
            }
            &:active {
                &:before {
                    background-color: rgba(92, 95, 103, 0.75);
                }
            }
        }
    }

    #navPanel {
        @include vendor('backface-visibility', 'hidden');
        @include vendor('transform', 'translateX(#{_size(navPanel) * -1})');
        @include vendor('transition', ('transform #{_duration(navPanel)} ease'));
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: _size(navPanel);
        z-index: _misc(z-index-base) + 2;
        background: #242730 url('/images/overlay.png');
        box-shadow: inset -3px 0px 4px 0px rgba(0, 0, 0, 0.1);

        .link {
            display: block;
            color: rgba(255, 255, 255, 0.5);
            text-transform: uppercase;
            text-decoration: none;
            font-size: 0.85em;
            letter-spacing: 0.15em;
            text-decoration: none;
            height: 44px;
            line-height: 44px;
            border-top: solid 1px rgba(255, 255, 255, 0.05);
            margin: 0 15px 0 15px;

            &:first-child {
                border-top: 0;
            }
        }

        .indent-1 {
            display: inline-block;
            width: 1em;
        }

        .indent-2 {
            display: inline-block;
            width: 2em;
        }

        .indent-3 {
            display: inline-block;
            width: 3em;
        }

        .indent-4 {
            display: inline-block;
            width: 4em;
        }

        .indent-5 {
            display: inline-block;
            width: 5em;
        }

        .depth-0 {
            color: #fff;
        }
    }

    body {
        &.navPanel-visible {
            #page-wrapper {
                @include vendor('transform', 'translateX(#{_size(navPanel)})');
            }

            #titleBar {
                @include vendor('transform', 'translateX(#{_size(navPanel)})');
            }

            #navPanel {
                @include vendor('transform', 'translateX(0)');
            }
        }
    }
}
