@include breakpoint(mobile) {
    #nav {
        display: none;
    }
}

@include breakpoint(tablet) {
    #nav {
        position: absolute;
        display: block;
        top: 2.5em;
        left: 0;
        width: 100%;
        text-align: center;

        > ul {
            display: inline-block;
            border-radius: 0.35em;
            box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
            padding: 0 1.5em 0 1.5em;

            > li {
                display: inline-block;
                text-align: center;
                padding: 0 1.5em 0 1.5em;

                > ul {
                    display: none;
                }

                > a, > span {
                    display: block;
                    color: #eee;
                    color: rgba(255, 255, 255, 0.75);
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 0.7em;
                    letter-spacing: 0.25em;
                    height: 5em;
                    line-height: 5em;
                    -moz-transition: all .25s ease-in-out;
                    -webkit-transition: all .25s ease-in-out;
                    -o-transition: all .25s ease-in-out;
                    -ms-transition: all .25s ease-in-out;
                    transition: all .25s ease-in-out;
                    outline: 0;
                }

                &:hover {
                    > a {
                        color: #fff;
                    }
                }

                &.active {
                    > a, > span {
                        color: #fff;
                    }
                }
            }
        }
    }
}
