<section id="features">
    <header class="style1">
        <h2>Here are just a few of the many features that Hal supports.</h2>
        <p>Pardon our dust! We've recently open-sourced Hal and are working hard on the next major version - version 3.0</p>
    </header>
    <div class="feature-list">
        <div class="row">
            <div class="6u 12u(mobile)">
                <section>
                    <h3>
                        <div class="fa-2x nfa-icon">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-circle"></i>
                                <i class="fab fa-inverse fa-aws" data-fa-transform="shrink-8"></i>
                            </span>
                        </div>
                        Native support for AWS
                    </h3>
                    <p>
                        Deploy to <b>S3</b>, <b>Elastic Beanstalk</b>, <b>CodeDeploy</b> and more! Hal can also delegate
                        and control access to many AWS accounts to support any account structure your team uses.
                    </p>
                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>
                    <h3>
                        <div class="fa-2x nfa-icon">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-circle"></i>
                                <i class="fas fa-inverse fa-users" data-fa-transform="shrink-8"></i>
                            </span>
                        </div>
                        Built for teams both big and small
                    </h3>
                    <p>
                        Hal has role-based access so you can control who can deploy what applications. Hal has built-in
                        support for Local accounts, LDAP, and GitHub identity providers.
                    </p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u 12u(mobile)">
                <section>
                    <h3>
                        <div class="fa-2x nfa-icon">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-circle"></i>
                                <i class="fas fa-inverse fa-server" data-fa-transform="shrink-8"></i>
                            </span>
                        </div>
                        Run Infrastructure as Code
                    </h3>
                    <p>
                        Hal has features optimized for <b>Terraform</b>, and can securely handle access to your AWS
                        account using roles. Seamlessly inject temporary, secure AWS credentials in your jobs to run Infrastructure as Code.
                    </p>
                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>
                    <h3>
                        <div class="fa-2x nfa-icon">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-circle"></i>
                                <i class="fas fa-inverse fa-file" data-fa-transform="shrink-8"></i>
                            </span>
                        </div>
                        Flexible file-based configuration
                    </h3>

                    <p>
                        Control your build environments and deployment workflow from <code>.hal.yaml</code> config
                        in your version control.
                    </p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u 12u(mobile)">
                <section>
                    <h3>
                        <div class="fa-2x nfa-icon">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-circle"></i>
                                <i class="fas fa-inverse fa-history" data-fa-transform="shrink-8"></i>
                            </span>
                        </div>
                        Rollbacks and audit history
                    </h3>

                    <p>
                        Quickly roll back to any previous version of your application. Hal also keeps a thorough audit log
                        of all actions and changes made to the system.
                    </p>
                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>
                    <h3>
                        <div class="fa-2x nfa-icon">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-circle"></i>
                                <i class="fab fa-inverse fa-windows" data-fa-transform="shrink-8"></i>
                            </span>
                        </div>
                        Windows-friendly!
                    </h3>

                    <p>
                        Run your workflows in docker containers, on both windows and linux platforms within the same system.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <ul class="actions actions-centered">
        <a href="https://github.com/hal-platform/hal" class="button style3 big">
            <i class="fab fa-github"></i>
            View on GitHub
        </a>

        <li><a href="/get-started" class="button style2 big">Get Started</a></li>
    </ul>
</section>
