<div id="intro-wrapper" class="wrapper style1">
    <div class="title">The Introduction</div>
    <section id="intro" class="container">
        <p class="style1">
            Hal is a web-based deployment platform for AWS,<br>
            Private Datacenters, and Infrastructure as Code.
        </p>

        <p class="style3">
            But don't worry, those aren't the only technologies it supports. Hal
            can build and deploy any type of project - including Windows and .NET-based projects!

            <br><br>
            It's <b>responsive</b>, has a <b>hypermedia API</b>, and built on <b>PHP 7</b>, <b>Symfony</b>, <b>Docker</b>,
            and <b><< TBD >> design system</b>.
        </p>
        <ul class="actions">
            <li>
                <a href="https://github.com/hal-platform/hal" class="button style3 big">
                    <i class="fab fa-github"></i>
                    View on GitHub
                </a>
            </li>
        </ul>
    </section>
</div>
