#intro {
    > .style2 {
        font-weight: 700;
        color: #fff;
        border-radius: 0.35em;
        box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

@include breakpoint(mobile) {
    #intro {
        text-align: center;
        padding: 1em 2em 1em 2em !important;
        margin: 0 auto;

        .style2 {
            font-size: 1.5em;
            letter-spacing: 0.05em;
            line-height: 1.25em;
            padding: 1.25em;
        }
    }
}

@include breakpoint(tablet) {
    #intro {
        > .style1 {
            font-size: 1.25em;
        }

        > .style2 {
            font-size: 2.25em;
        }
    }
}

@include breakpoint(desktop) {
    #intro {
        text-align: center;

        > .style1 {
            font-size: 1.5em;
            letter-spacing: 0.075em;
        }

        > .style2 {
            font-size: 2.75em;
            letter-spacing: 0.075em;
            line-height: 1.35em;
            padding: 1em 0 1em 0;
            margin-bottom: 1em;
        }

        > .style3 {
            font-size: 1.1em;
            width: 48em;
            margin: 0 auto;
        }
    }
}
