{{ partial "header.html" . }}

{{ partial "demo/intro.html" . }}

<div class="wrapper style2">

    {{ with .Title }}
        <div class="title">{{ . }}</div>
    {{ end }}

    <div id="main" class="container">

        {{ if isset .Params "sidebar" }}
            <div class="row 150%">
                <div class="4u 12u(mobile)">
                    {{ partial "demo/sidebar.html" . }}
                </div>
                <div class="8u 12u(mobile) important(mobile)">
        {{ end }}

        <!-- Content -->
        {{ if isset .Params "alt" }}
            {{ partial "demo/content.html" . }}
        {{ else }}
            {{ partial "demo/features.html" . }}
        {{ end }}

        {{ if isset .Params "sidebar" }}
                </div>
            </div>
        {{ end }}

    </div>
</div>

{{ partial "demo/highlights.html" . }}

{{ partial "demo/footer.html" . }}
